<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>
<body>

  <main>

    <!-- Main Container -->
    <div id="mainContainer">

      <!-- Banner Container -->
      <div id="bannerContainer">
        <img src="img/banner2.png" alt="Create an Account">
      </div>


      <!-- Form Container -->
      <div id="inputContainer">
        
        <div id="loginContainer"> 
          <img src="img/logo_instagram.png" alt="instagram" id="instagramLogo">
          
          <form id="loginForm">
            <input type="text" name="user" placeholder="Phone number, username or email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="login" value="Log In" class="loginBtn">
          </form>

          <div class="separator">
            <div class="line"></div>
            <span>OR</span>
          </div>

          <div id="alternative">
            <div id="fbLogin">
              <a href="#">
                <img src="img/logo_facebook.svg" alt="facebookLogo">
                <span>Log in with Facebook</span>
              </a>
            </div>
            <div id="forgotPassword">
              <a href="#" id="forgot">Forgot Password?</a>
            </div>
          </div>
        </div>

        <div id="signupContainer">
          <p>Don't have an account? <a href="#">Sign up</a>.</p>
        </div>

        <div id="downloadContainer">
          <p>Get the app.</p>
          <a href="#"><img src="img/apple_btn.png" alt="appStore"></a>
          <a href="#"><img src="img/gplay_btn.png" alt="playStore"></a>
        </div>

      </div>

    </div>

  </main>

  <footer>
    <nav>
      <ul id="links">
        <li><a href="#">Meta</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">API</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Cookie settings</a></li>
        <li><a href="#">Hashtags</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Instagram Lite</a></li>
      </ul>
    </nav> 
    <p>©2024 Instagram from Meta</p>
  </footer>

</body>
</html>